.gradient-background, .container-fluid {
    background: linear-gradient(300deg, #32cd32, #00fa9a, #66cdaa);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.navbar{
    padding:0%;
}  

body{
    background-color: #C2FFC7;
}
body > div.container.col-xxl-8.px-4.py-5 > div > div.col-10.col-sm-8.col-lg-6 > img{
    border-radius: 50%;
}
body > nav{
    color: #C2FFC7;
}
